.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.table-cell {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.search-form {
    margin-bottom: 10px;
    float: right;
}

.search-form input{
    height: 30px;
}

.pagination {
    display: inline;
    height: 30px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details{
    display: inline;
}

.pagination a {
    color: black;
    border: 1px solid gray;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
}

.limit select {
    height: 30px;
    display: block;
    margin: 10px;
}